footer {
  height: 20vh;
  background: #e6e6e6;  
}

a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-decoration: none;
  color: #0f0f0f;
}

span:hover {
  text-decoration: underline;
  text-decoration-color: #0f0f0f;
  color: #0f0f0f;
  cursor: pointer;
}