header {
  height: 80vh;
  background: url('img/profile-hero.png') no-repeat center;
  background-size: cover;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: #fad586;
}

h1 {
  font-family: 'Kanit', sans-serif;
  color: #fad586;
}