#projects {
  margin-bottom: 100px;
}

h6, hr {
  color: #fad586;
}

.link {
  color: #fad586;
  font-size: 0.8em;
  margin-right: 20px;
}

.link:hover {
  color: #fad586;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #fad586;
}